# https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/values.yaml
velero:
  # https://velero.io/docs/v1.6/customize-installation/#customize-resource-requests-and-limits
  resources:
    requests:
      cpu: 500m
      memory: 128Mi
    limits:
      cpu: 6000m
      memory: 3072Mi
  initContainers:
    - name: velero-plugin-for-aws
      image: velero/velero-plugin-for-aws:v1.6.1
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /target
          name: plugins
    # https://github.com/openebs/zfs-localpv/blob/master/docs/backup-restore.md
    - name: openebs-velero-plugin
      image: openebs/velero-plugin:3.4.0
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /target
          name: plugins
  configuration:
    provider: aws
    backupStorageLocation:
      name: default
      bucket: nobesitiatwa
      config:
        region: minio
        s3ForcePathStyle: true
        s3Url: http://minio.ix-minio:9000
        publicUrl: https://minio.wavebe.am
    volumeSnapshotLocation:
      name: default
      provider: openebs.io/zfspv-blockstore
      config:
        prefix: zfs
        namespace: openebs
        provider: aws
        region: minio
        s3ForcePathStyle: true
        s3Url: http://minio.ix-minio:9000
        bucket: nobesitiatwa
        # https://github.com/openebs/velero-plugin/pull/55
        multiPartChunkSize: 100Mi
        restApiTimeout: 90s
    resticTimeout: 4h

  credentials:
    existingSecret: velero-s3-key

  schedules:
    daily:
      # UTC. Backup every day at 1400
      schedule: "0 14 * * *"
      template:
        # expire backups after 1 week
        ttl: "168h"
        excludedNamespaces:
          # skip namespaces managed by TrueNAS SCALE
          - default
          - kube-system
          - kube-public
          - kube-node-lease
          - openebs
          - ix-minio
