# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
traefik:
  logs:
    general:
      level: INFO
    access:
      enabled: true

  # Stops ArgoCD from thinking that ingresses never complete successfully
  # https://github.com/argoproj/argo-cd/issues/968#issuecomment-451082913
  providers:
    kubernetesIngress:
      publishedService:
        enabled: true

  ports:
    web:
      redirectTo: websecure

  ingressClass:
    enabled: true
    fallbackApiVersion: v1

  # https://doc.traefik.io/traefik/https/tls/#tls-options
  tlsOptions:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
      curvePreferences:
        - CurveP521
        - CurveP384
