#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/k8s-at-home/library-charts/tree/main/charts/stable/common/values.yaml
#

image:
  repository: meisnate12/plex-meta-manager
  tag: v1.15.1
  pullPolicy: IfNotPresent

env:
  # https://github.com/meisnate12/Plex-Meta-Manager/wiki/Run-Commands-&-Environmental-Variables

# No inbound connections are necessary.
service:
  main:
    enabled: false

persistence:
  config:
    enabled: true
    storageClass: argo-zfspv-fast
    size: 1Gi
    accessMode: ReadWriteOnce
    retain: true
  plex-meta-manager-config:
    enabled: true
    name: plex-meta-manager-config
    type: secret
    secret:
      # Configuration file reference: https://github.com/meisnate12/Plex-Meta-Manager/wiki/Configuration-File
      secretName: plex-meta-manager-config

lifecycle:
  postStart:
    exec:
      command:
        - /bin/sh
        - -c
        - |
          if [ ! -f /config/config.yml ]; then
            cp /plex-meta-manager-config/config.yml /config/config.yml
          fi

