# https://github.com/bjw-s/helm-charts/tree/main/charts/library/common
image:
  repository: ghcr.io/onedr0p/navidrome
  tag: 0.47.5
  pullPolicy: IfNotPresent

env:
  TZ: '{{ .Values.global.TZ }}'
  ND_LOGLEVEL: info
  ND_SESSIONTIMEOUT: 24h
  ND_ENABLETRANSCODINGCONFIG: "true"
  ND_MUSICFOLDER: /music

envFrom:
  - secretRef:
      name: navidrome-env

service:
  main:
    ports:
      http:
        port: 4533

ingress:
  main:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
    - host: '{{ .Chart.Name }}.{{ .Values.global.domain }}'
      paths:
      - path: /
        pathType: Prefix      
    tls:
      - secretName: '{{ .Chart.Name }}-tls'
        hosts:
          - '{{ .Chart.Name }}.{{ .Values.global.domain }}'

persistence:
  config:
    enabled: true
    storageClass: argo-zfspv-fast
    size: 10Gi
    accessMode: ReadWriteOnce
    retain: true
  music:
    enabled: true
    type: hostPath
    hostPath: /mnt/andromeda/media/music/FLAC
    mountPath: /music

podSecurityContext:
  runAsUser: 1001
  runAsGroup: 1002
  fsGroup: 1002
  fsGroupChangePolicy: OnRootMismatch
